<div fxLayout="row" fxLayoutAlign="center center" style="width: 100vw;height: 100vh;">
    <mat-card>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" fxLayout="row" fxLayoutGap=10px>
            <div fxLayout="column" fxLayoutGap="20px">
                <div>
                    <h2 fxLayoutAlign="center">
                        To reset your password
                    </h2>
                    <h2 fxLayoutAlign="center">Enter your email/phone number</h2>
                    <div fxLayout="column">
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email">
                            <mat-hint>Alphanumeric with symbols</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayoutAlign="space-between">
                    <button mat-flat-button routerLink="/login">Sign in instead</button>
                    <button mat-raised-button color="primary">Next</button>
                </div>
            </div>
        </form>
    </mat-card>
</div>